<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>
    <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap5.css" />
  </head>
  <body>
    <!-- Start Homepage section-->
    <div class="wrapper">
      <!-- Sidebar -->
      <% include ../partial/sidebar %>
      <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
          <!--Button for sidebar toggle-->
          <button class="btn" type="button" data-bs-theme="dark">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <main class="content px-3 py-2">
          <div class="container-fluid">
            <div class="mb-3">
              <h1>Monthly Report</h1>
            </div>
            <div class="row my-5">
              <input
                type="hidden"
                id="dataInfo"
                value="<%= JSON.stringify(result) %>"
              />
              <div class="col-lg-2 col-md-12 col-sm-12"></div>
              <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="chart-container bg-white">
                  <canvas id="myChart"></canvas>
                </div>
                <!-- <table class="table" id="example">
                  <thead>
                    <th>No</th>
                    <th>Date</th>
                    <th>Sale Amount</th>
                  </thead>
                  <tbody>
                    <% for(var i = 0; i < result.length;i++){%>
                    <tr>
                      <td><%= i+ 1 %></td>
                      <td>
                        <%= result[i]._id.month %> / <%= result[i]._id.year %>
                      </td>
                      <td><%= result[i].grandAmount %> MMK</td>
                    </tr>
                    <%}%>
                  </tbody>
                </table> -->
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
  <% include ../partial/script %>
  <!-- <script src="/javascripts/dataTables.js"></script>
  <script src="/javascripts/dataTables.bootstrap5.js"></script>
  <script>
    new DataTable("#example");
  </script> -->
  <script src="/javascripts/chart.js"></script>
  <script src="/javascripts/moment.min.js"></script>
  <script>
    const dataInfo = JSON.parse($("#dataInfo").val());
    console.log(dataInfo);
    const data = [];
    const labels = [];
    dataInfo.map((item) => {
      data.push(item.totalGrandAmount);
      labels.push(
        moment(item.startOfWeek).format("MM-DD-YYYY") +
          " To " +
          moment(item.endOfWeek).subtract(1, "days").format("MM-DD-YYYY")
      );
    });
    const ctx = document.getElementById("myChart");
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: labels,
        datasets: [
          {
            label: "Weekly Sale",
            data: data,
            borderWidth: 1,
            backgroundColor: [
              "rgba(255, 99, 132, 0.2)",
              "rgba(255, 159, 64, 0.2)",
              "rgba(255, 205, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(201, 203, 207, 0.2)",
            ],
            borderColor: [
              "rgb(255, 99, 132)",
              "rgb(255, 159, 64)",
              "rgb(255, 205, 86)",
              "rgb(75, 192, 192)",
              "rgb(54, 162, 235)",
              "rgb(153, 102, 255)",
              "rgb(201, 203, 207)",
            ],
          },
        ],
      },

      options: {
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: "Amount(MMK)",
              color: "#911",
              font: {
                family: "Comic Sans MS",
                size: 15,
                weight: "bold",
                lineHeight: 1.2,
              },
            },
          },
          x: {
            title: {
              display: true,
              text: "Date",
              color: "#191",
              font: {
                family: "Comic Sans MS",
                size: 15,
                weight: "bold",
                lineHeight: 1.2,
              },
            },
          },
        },
      },
    });
  </script>
</html>
